.introductionBackground {
    background-image: url("../../Assets/IntroductionPageBG.svg");
    height: 65px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .introductionContainer{
    max-height: 82vh;
    background-color: #212529;
    padding-bottom: 5%;
  }

  .TAlogo {
    content: url("../../Assets/Logo.svg");
    height: 75px;
    margin-top: 2vh;
    margin-left: 0.7vw;
  }
  
  .TAtitle {
    color: white;
    font-size: 55px;
    margin-top: 2vh;
    margin-left: 2.5vw;
  }

  @media (max-width: 800px) 
  {
    .TAtitle
      {
          display: none;
      }
  }

  .TAannouncement {
    color: black;
    position: absolute;
    left: 35%;
    top: 1.7%;
    font-size: 3vh;

    overflow: hidden;
    border-right: .15em solid rgb(53, 53, 53);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
      typing 3.5s steps(50, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 55% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(53, 53, 53); }
  }

  @media (max-width: 1780px) 
{
  .TAannouncement
    {
        display: none;
    }
  .TAannouncementCol
    {
        visibility: none;
    }
}

  @media (max-width: 1200px) 
{
  .TAannouncementCol
    {
        display: none;
    }
}

.signUpButton{
  font-weight: bold !important;
  margin-top: 10px;
  font-size: 22px !important;
}

.introductionInformation {
  padding-top: 5vw;
}

.introductionHeader {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.introductionFooter {
  margin-top: -1%;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  color: #BAB8B8;
}

.introductionText {
  margin-top: 2%;
  max-width: 60%;
  font-size: 30px;
  line-height: 35px;
  margin-left: 0.5vw;
  margin-bottom: 3%;
  color: #E7E7E7;
}

@media (max-width: 500px) 
{
  .introductionText
    {
        display: none;
    }
}

.introductionSignInButton{
  margin-right: 2%;
  font-size: 22px !important;
}

.introductionPlayButton{
  font-size: 22px !important;
}










