.leaderboardBackground {
    background-image: url("../../Assets/LeaderboardPageBG.svg");
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
}

.leaderboardHeader{
    text-align: center;
}

.leaderboardHeaderText{
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.leaderboardFooterText{
    color: #BAB8B8;
    font-size: 40px;
    margin-top: -10px;
}